<!DOCTYPE html>
<html>
  <head>
    <title>Tweet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar-text">
  <span>
  <%= link_to 'Rails Twitter Clone', root_path %> 
  </span>
  <span class="right">
<% if user_signed_in? %>
  <%= link_to 'New Tweet', new_post_path(@user) %> |
  <%= link_to 'My profile', user_profile_path(current_user.id), :class => 'navbar-link' %> |
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</span>
</div>
    <%= yield %>
  </body>
</html>
